@import '~@angular/material/theming';

h1 {
  color: white;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.button-toggle-group {
  margin-bottom: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

mat-card {
  @include mat-elevation(5);
  @include mat-elevation-transition;
  margin: 0.5rem;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  border-radius: 2px;
  cursor: pointer;

  & mat-card-content {
    margin: 0.5rem;
  }

  &:hover {
    @include mat-elevation(10);
    filter: brightness(1.05);
  }
}

.icons {
  margin-bottom: 1rem;

  & button {
    margin: 0.5rem;
  }
}

.mat-button {
  color: white;
}

.buttons button {
  margin: 0 0.5rem;
}

.selected {
  &-button {
    filter: brightness(1.6);
    box-shadow: 0 0 3px 1px #00c3ff inset;
  }

  &-card {
    @include mat-elevation(10);
    box-shadow: 0 0 6px 1px #00c3ff;
  }

  &-icon {
    filter: brightness(1.9);
    box-shadow: 0 0 3px 0 #00c3ff inset;
  }
}

.cool {
  background: #3c1fa2;
}

.neutral {
  background: #1f65a2;
}

.warm {
  background: #1fa240;
}