<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="colorFormGroup">
    <ng-template matStepLabel>First Step</ng-template>
    <form class="button-toggle-group" [formGroup]="colorFormGroup">
      <div class="label"> Skin Undertone </div>
      <mat-button-toggle-group name="undertone">
        <mat-button-toggle *ngFor="let color of colors" class="{{color}}" value="{{color}}">
          {{color}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </form>
    <div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
</mat-vertical-stepper>